//
//  150819, Jonas Colmsjö
//
//  Good for debugging boxes:
//
//    background: rgba(113, 218, 210, 0.8);
//    background: rgba(234, 159, 195, 0.8);
//    background: rgba(250, 231, 179, 0.8);
//    background: rgb(200,200,2);
//    background: rgb(100,100,200);
//
// Notes:
//
//  * Struture adapted from smacss.com
//  * Coding guidelines: https://github.com/necolas/idiomatic-css
//

// Base rules
// ===========
//
// resets, background etc
//

// reset to box-sizing to border-box (instead of content-box)
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// imports
@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";

@import "../bower_components/uikit/scss/uikit-mixins.scss";
// your custom code goes here, e.g. mixins, variables
@import "../bower_components/uikit/scss/uikit.scss";
@import "../bower_components/uikit/scss/components/autocomplete.scss";

@import "../bower_components/font-awesome/scss/font-awesome.scss";

@font-face {
    font-family: theme-font;
    src: url(../assets/HelveticaNeue.ttf);
}

@font-face {
    font-family: theme-font-bold;
    src: url(../assets/HelveticaNeue_Bold.ttf);
}

$susy: (
  columns: 10,
  container: 480px,
  gutters: 1/32,
  global-box-sizing: border-box,
  debug: (image: show)
);

@mixin cf {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

$theme-color1: rgb(92,87,93);
$theme-color2: rgb(191,71,19);
$theme-color3: rgb(62,84,97);
$theme-color4: rgb(118,175,182);
$theme-color5: rgb(158,138,150);

$header-font-color: #f0f0f0;
$header-color: $theme-color1;

$menu-font-color: rgb(123,123,129);
$menu-bg-color: #F7F7F7;

$header-size: 4rem;

// Layout rules
// ============
//
// `l-` prefixed, major (often ID selector) and minor (classes, sometimes
// frameworks like 960.gs)

.l-top {
  height: $header-size;
  background: $header-color;

  .l-content-header {
    padding-top: 2rem;

    font-family: theme-font;
    color: $header-font-color;
    @include container();

    .left {
      float: left;
    }

    .right {
      float: right;
    }

  }
}

.l-middle {
  margin-top: -$header-size;
  margin-bottom: -$header-size;
  height: 100vh;

  .l-content {
    padding-top: $header-size;
    @include container();
  }
}

.l-bottom {
  background: $menu-bg-color;

  .l-menu {
    @include container();
  }

}

.l-log {
  height: 20rem;
  overflow-y: auto;
  margin-top: gutter();
  @include span(10 of 10);
}

.l-row {
  margin-top: gutter();
  @include span(10 of 10);
}

// Module rules
// ============
//
//  typically widgets, use class names only, sit inside layouts
//

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

textarea {
  font-size: 0.65rem;
  line-height: 0.65rem;
  @include span(10 of 10);
  margin-top: gutter(10);
  margin-bottom: gutter(10);
}

.menu-button {
  font-family: theme-font-bold;
  font-size: 0.7rem;
  line-height: 2*0.7rem;
  text-align: center;

  color: $menu-font-color;
  background: $menu-bg-color;

  @include span(2 of 10);
  &:nth-child(5n) {
    @include last;
  }

  :hover {
    color: $menu-font-color;
  }

  div {
    margin-top: 0.5rem;
    @include span(2 of 2);
  }
}

.button {
  @include span(3 of 10);
  float: right;
  @extend .uk-button;
  @extend .uk-button-primary;
/*  @extend .uk-button-large; */
  margin-top: gutter(10);
  margin-bottom: gutter(10);
}

body {
  font-family: theme-font;
  line-height: 1.4rem;
  font-size: 1rem;
}

.disclaimer-text {
  font-family: theme-font;
  line-height: 1rem;
  font-size: 0.8rem;
}

// State rules
// ===========
//
// `is-` prefixed, augments and overrides all other styles, used on layouts and
// modules

// Theme rules
// ===========
//
// used to customize a project, can be any primary type
